@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body{
    background: #151515;
    color: white;
}
main{
    max-width: 1300px;
    margin: auto;
}
.all_over{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
header{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    min-height: 481px;
}
.main_title{
    font-family: 'Poppins', sans-serif;
}
@media only screen and (max-width: 1100px){
	.all_over{
        grid-template-columns: 1fr;
    }
}
@media only screen and (max-width: 1024px){
	header{
        grid-template-columns: 1fr;
    }
}